<!DOCTYPE html>
<html>
<head>
	<title>Buy Something, Will Ya?</title>
</head>
<body>
	<form action="/checkout" method="POST">
		<label for="item">Item: </label><input type="text" name="item"  id="item"><br>
		<input type="submit" id="submit" value="Buy It!">
	</form>
</body>
</html>
