<!DOCTYPE html>
<html>
<head> 
  <title>Index</title>
</head>

<form action="/checkout" method="post">
<h1>Shop!</h1>
  Item: <input type="text" name="item"><br>
        <input type="submit" value="submit">
</form>
</html>
