<h1> What would you like to buy? </h1>
<body>
    <form action="/checkout" method="post">
    <p>Item to buy <input type="text" name="item"> </p>

    <input type="submit" id="submit">
    </form>
</body>

