<form class="" action="/checkout" method="post">
  <label for="item"><h4>Item:</h4> </label>
  <input type="text" name="item" value=""><br />
  <input class="btn" type="submit" value="Submit">
</form>
